@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;900&family=Playfair+Display:ital,wght@0,400;0,600;1,600&display=swap');

/* */

/* General Styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 125%;
}

.mainBody {
  background-color: rgb(206, 206, 190);
  font-family: 'Merriweather', serif; 
}

ul {
  list-style: none;
}

button {
  outline: 0;
  border: none;
  font-family: inherit;
  background-color: transparent;
  cursor: pointer;
}

input {
  border: none;
  outline: 0;
  font-family: inherit;
  font-size: 1rem;
}

img {
  height: 100%;
  width: 100%;
}

/* Header Styles */

header {
  height: 100vh;
}

.backgroundImage {
  height: 100%;
  width: 100%;
  background-image: url('./images/Header.jpg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
}

h1 {
  padding-top: 1rem;
}

/* BookList Styles */

.bookList {
  min-height: 100vh;
  background-color: rgb(206, 206, 190);
}

.bookArticle {
  display: flex;
  align-items: center;
  justify-content: center;
}

.bookCard {
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
}

.bookCard h3 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.imageContainer {
  height: 25%;
  width: 25%;
}

.bookDisplay h3 {
  font-size: 1.2rem;
}

.bookDisplay p {
  font-size: .9rem;
  max-width: 100%;
}

/* Footer */

footer {
  height: 10vh;
  font-size: 1rem;
  background-color: rgb(206, 206, 190);
  display: flex;
  justify-content: center;
  align-items: center;
}